.navbar {
    display: flex;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--main-blue);
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;  
    padding: 0 100px;
}
.nav-item {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    padding-right: 4.5rem;
}

.nav-item.active , .nav-item:hover{
    text-decoration: underline;
}
.nav-search {
    padding: 1em 100px;
}
.nav-search input {
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
}
.nav-search button {
    padding: 0.5rem;
    font-size: 1rem;

}

.main-container {
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    margin: 0.25em ;
}

.card-content {
    height: 100%;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.card-content a {
    text-decoration: none;
    color:var(--primary-color)
}


.card-content figure {
    margin: 0 ;
}

.card-content footer {
    max-width: fit-content;
    min-width: 100%;
}

.card-footer {
    padding: 0.5em;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
     /* 0px 15px 10px -15px #111; */
    
}

.card-footer > div:first-of-type {
    flex: 0 0 85%;
}

.card-footer > div:last-of-type {
    flex: 0 0 25%;
    float: right;
}

@media screen and (min-width: 40em) {
    .main-container {
        max-width: 1300px;
    }
}